body {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 70%, rgba(204,204,255,1) 100%);
}

#nav {
    background-color: white;
    border-top: 5px double black;
    border-bottom: 5px double black;
}

#pfp {
    border: 5px double black;
}

#profile {
    background: white;
    border: 5px double black;
}

.skill {
    background: linear-gradient(0deg, rgba(100,100,100,1) 10%, rgba(0,0,0,1) 100%);
    color: white;
    box-shadow: 3px 3px rgba(0,0,0,0.25);
}

.skill:hover {
    background: linear-gradient(0deg, rgba(177,177,177,1) 10%, rgba(255,255,255,1) 100%);
    color: black;
    border: 2px solid black;
}
