body {
    background-image: url(color.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#theme {
    color: white;
}

/*
#nav {
    background-color: white;
    border-top: 5px double black;
    border-bottom: 5px double black;
}
*/

#profile {
    background: white;
}

.skill {
    background: linear-gradient(0deg, rgba(100,100,100,1) 10%, rgba(0,0,0,1) 100%);
    color: white;
    box-shadow: 3px 3px rgba(0,0,0,0.25);
}

.skill:hover {
    background: linear-gradient(0deg, rgba(177,177,177,1) 10%, rgba(255,255,255,1) 100%);
    color: black;
    border: 1px solid black;
}

.project {
    background: rgba(255,255,255,0.5);
    border-radius: 15px;
}

.description {
    background: white;
}
